$media-tablet: "only screen and (max-width : 1224px)";

@media #{$media-tablet} {
    .body{
        overflow-x: hidden;
        width:100%;

    }
  .hero-container {
    display: block;
    text-align: center;
    .hero-info{
        width: 100%;

    }

    .hero-art{
        width: 100%;
        .graphic{
            margin-top: 25%;
            margin-left: 6%;
        }
        .ground{
            margin-left: 5%;
        }
    }
  }
  .mputer{
      width: 40%;
  }
  .AboutUs{
    h1{
        img{
            width: 10%;
        }
        .aboutUsline{
           width: 100%;
           margin-left: 2%;
           margin-top: -4.5%; 
        }
    }
    p{
        font-size:1rem;
        width: 90%;
    }
    .logos{
        padding: 5%;
        .animated {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .ieeejmi{
            width: 50%;
            margin-right: 10%;

        }
        .ieeecs{
            width: 50%;
        }
    }

  }
  .Bg-ourTeamGraphic, .BgOut-OT-1{
    display: none;
    }
    .Ourteam{
        .fadeInDown{
            text-align: center;
            align-items: center;
        }
        p{
            width: 90%;
            margin: 0%;
            margin-left: 5%;
        }
        .OurTeam-div{
            
            .team-grid{
                margin-left: 4%;
                width: 90%;
                .team-member{
                    padding: 3%;
                    h2{
                        font-size: 0.8rem;
                    }
                    .Profile-pic{
                        width: 100%;
                    }
                    .linkedin{
                        margin-top: 17%;
                        margin-left: -10%;
                    }
                    p{
                        font-size: 0.6rem;
                    }
                    .Profile-pic:hover{
                        .linkedin{
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }
    .contactUs{
        h1{
            font-size: 2rem;
            .ContactBall{
                width: 6%;
            }
            .ContactLine{
                width: 80%;
                margin-left: 10%;
                margin-top: -3%;
            }
        }
        ul{
            margin-left: 0%;
            margin-right: 6%;
        }
        form{
            .input_type{
                width: 90%;
            }
            .input_message{
                width: 90%;
            }
            button{
                font-weight: 600;
                border: none;
            }
        }
        .Social{
            margin-left: 5%;
        }
    }
    .Footer{
        .Footer-list{
            display: inline-block;
            .Logo{
                margin-left: -10%;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                width: 100%;
                ul{
                    li:nth-child(2){
                        display: block;
                    }
                }
            }
            ul{
                display: inline-block;
            }
            .Footer-Social{
                padding-left: 0%;
                margin-top: 5%;
                width: 100%;
                padding-bottom: 10%;
            }
        }
    }
}