$orange : #FAAC31;
$black : #1b1b1b;

body {
  margin: 0;
  background-color: #1b1b1b;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.loading{
    position: fixed;
    top :0;
    height: 1000px;
    width: 10000px;
    padding-top: 20%;
    padding-left: 45%;
    background-color: #1b1b1b;
    z-index: 9999;
}

.navbar {

  width: 100%;
  ul {
    list-style: none;
    width: 40%;
    margin-left: 2%;
    margin-top: 2%;
    li {
      display: inline-block;
      padding: 3%;
      a {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        font-family: "Montserrat";
        margin: 1%;
        font-weight: 600;
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    filter: saturate(1.5);
  }
  .logo {
    width: 13%;
  }
}

.hero-container {
    margin-top: 3%;
    display: flex;
  .hero-info {
    width: 50%;
    img {
      width: 80%;
      margin-top: 11%;
      margin-left: 7%;
    }

    a {
        background-color: #FAAC31;
        padding: 1% 0.5% ;
        margin-right: 25%;
        float: right;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        white-space: nowrap;
        padding-right: 0%;
        transition: all 0.5s;
        img{
            display: inline-block;
            margin-top: 0.5%;
            width: 15%;
            padding-right: 5%;
            opacity: 0;
            transition: all 0.5s;
        }

    }
    a:hover {
        background-color: #e69f2d;
        padding-right: 2%;
        img{
            opacity: 1;
        }
    }
  }

  .hero-art{
    width: 40%;
    .graphic{
        margin-top: 1%;
        margin-left: 10%;
        width: 80%;
        img{
            width: 100%;
            padding-right: 5%;
        }
    }
    .ground{
        margin-top: -40%;
        transform: translateY(-12%);
        margin-left: 20%;
    }
  }
}

.mputer{
    margin-top: 3%;
    margin-bottom: 1%;
}

.AboutUs{
  text-align: center; 
  align-items: center;
  h1{
    color: $orange;
    font-size: 3.5rem;
    margin-right: 4%;
    margin-top: 4%;
    img{
      margin-left: 3%;
      width: 3%;
      margin-bottom: -0.8%;
    }
    .Icon{
      transform: rotate(0deg);
      transition: all 0.5s;
    }
    .Icon:hover{
      transform: rotate(180deg);
    }
    .aboutUsline{
      display: block;
      width: 30%;
      margin-left: 37%;
      margin-top: -0.6%;
    }
  }
  p{
    margin-top: 3%;
    display: inline-block;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    width: 70%;
    text-align: justify;
  }
  .logos{
    margin-top: 7%;
    margin-bottom: 2%;
    width: 100%;
    background-color: white;
    .ieeejmi{
      width: 20%;
    }
    .ieeecs{
      margin-bottom: 1.5%;
      margin-right: 7%;

    }
  }

  .ball_section{
  }

  .ball{
    margin-bottom: 5%;
  }

  .ball_one{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-left: 10%;
    img{
      margin-left: 15%;
      margin-top: 0%;
      transform: scale(1);
      transition: all 0.5s;
    }
    img:hover{
      transform: scale(1.1) rotate(-40deg);
    }
  }

  .ball_two{
    display: inline-block;

    width: 30%;
    text-align: right;
    margin-left: 25%;
    img{
      margin-right: 15%;
      margin-bottom: 10%;
      transform: scale(0.6);
      transition: all 0.5s;
    }
    img:hover{
      transform: scale(0.5) rotate(40deg);
    }
  }
}

.Ourteam{
  text-align: center;
  h1{
    color: $orange;
    font-size: 3.5rem;
    margin-bottom: 0.2%;
  }
  p{
    font-size: 1.0rem;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 35%;
    color: #818181;
    width: 30%;
  }
  .OurTeam-div{
    text-align: center;
    .team-grid{
      margin-left: 14%;
      width: 70%;
      display: flex;
      text-align: center;
      justify-content: center;
      .team-member{
        width: 33%;
        padding: 2%;
        align-items: center;
        display: inline-block;
        h2{
          color: rgb(226, 221, 221);
          margin: 2% 0%;
          font-size: 1.1rem;
        }

        .linkedin{
          position: absolute!important;
          margin-left: -3%;
          margin-top: 9%;
          opacity: 0;
          filter: brightness(1);
          transition: all 0.5s;
        }
        
        .Profile{
          transition: all 0.5s;
        }

        .Profile-pic{
          filter:brightness(1);
          transition: all 0.5s;
        }

        .Profile:hover{
          .Profile-pic{
            filter:brightness(0.5);
          }

          .linkedin{
            opacity: 1;
          }
          .linkedin:hover{
            filter: brightness(0.8); 
          }
        }

        p{
          width: 100%;
          margin-left: 0%;
        }
      }
    }
  }
}


.BgOut-OT-1{
  position: absolute;
  right: -300px;
  margin-top: 400px;
}

.contactUs{
  text-align: center;
  h1{
    font-size: 3.5rem;
    color: white;
    .ContactBall{
      width:3%;
      margin: 0% 1%;
      margin-bottom: -0.4%;
    }

    .ContactLine{
      display: block;
      width: 30%;
      margin-left: 35%;
      margin-top: -1.2%;
    }
  }
  ul{
    list-style: none;
    li{
      color: white;
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  form{
    margin-top: 5%;
    margin-bottom:1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .input_type{
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      width: 40%;
      background-color: $orange;
      border-radius: 25px 25px 0px 0px;
      input{
        width: 100%;
        padding: 0.7%;
        margin: 3% 0% 0% 0%;
        padding-left: 8%;
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 600;

      }
      input:nth-child(2){
        margin-bottom: 2%;
      }
      input:focus{
        outline: none;
      }
      input::placeholder{
        font-weight: 600;
        color: rgba(255, 255, 255, 0.623);
      }

    }
    .input_message{
      width: 40%;
      border-radius: 0px 0px 25px 25px;
      background-color: white;

      textarea{
        width: 100%;
        background-color: transparent;
        border: none;
        resize: none;
        padding-left: 4%;
        padding-top: 3%;
        font-family: "Montserrat";
        color: #e69f2d;
        font-weight: 600;

      }

      textarea::placeholder{
        font-weight: 600;
        color: #e69f2d;
      }

      textarea:focus{
        outline: none;
      }

      button{
        float: right;
        margin: 0% 4% 2% 0%;
        padding: 2%;
        background-color: transparent;
        border: none;
        color: $orange;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 10px;
        transform: scale(1);
        transition: all 0.5s;
      }
      button:hover{
        transform: scale(1.2);
      }
    }
  }
  .Social{
    margin-left: 30%;
    list-style: none;
    display: flex;
    padding: 0%;
    li{
      margin: 0% 2% 0% 0%;
      a{
        img{
          filter: brightness(1);
          transition: all 0.5s;
        }
        img:hover{
          filter: brightness(0.8);
        }
      }
    }
  }
}

.Footer{
  background-color:white;
  text-align: center;
  margin-top: 5%;
  h5{
    display: inline-block;
    background-color: $orange;
    margin: 0%;
    padding: 1% 0.5%;
    margin-top: -5%;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.171);
  }
  .Footer-list{
    text-align: left;
    list-style: none;
    display: flex;
    margin-bottom: 0%;
    padding-bottom: 2%;
    li:nth-child(1){
      width: 40%;
    }
    .Logo{
      margin-left: 30%;
    }

    li:nth-child(2){
      width: 30%;
      ul{
        list-style: none;
        li{
          font-weight: 600;
          font-size: 1.3rem;
          margin-bottom: 2%;
        }
        li:nth-child(1){
          font-size: 0.9rem;
          margin-bottom: 0.4%;
          color: rgba(0, 0, 0, 0.240);
        }
      }
    }
    li:nth-child(3){
      width: 30%;
      ul{
        list-style: none;
        li:nth-child(1){
          font-size: 0.9rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.240);
        }
        li:nth-child(2){
          ul{
            list-style: none;
            display: flex;
            margin: 0%;
            padding: 0%;
            li{
              margin: 2% 3%;
              margin-top: 4%;
              filter: brightness(1);
              transition: all 0.5s;
            }
            li:hover{
              filter: brightness(0.8);
            }
          }
        }
      }
    }
  }
}

.hamburger{
  .icon{
    margin: 3%;
    width: 8%;
    transform: scale(1);
    transition: all 0.5s;
  }

  .icon:hover{
    transform: scale(1.2);
  }

  .dark_bg{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1.5s;
    pointer-events: none;
  }
  .Menu{
    position: fixed;
    z-index: 200;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    background-color:white;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
    .cross{
      position: absolute;
      top: 3%;
      left: 5%;
      width: 13%;
      transform: scale(1.2);
      transition: all 0.5s;
    }
    .cross:hover{
      transform: scale(1);
    }
    ul{
      list-style: none;
      margin-top: 35%;
      li{
        margin-top: 10%;
        font-weight: 600;
      }
    }
  }
}

